@use '../../../tokens' as *;

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: token('color.ui.bg');
	color: token('color.ui.fg');
	margin: 0;
	font-family: token('typography.family.base');
	font-size: 1rem;
	line-height: 1;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	outline: 2px solid transparent;

	&:focus-visible {
		outline-color: token('color.ui.action.base');
	}
}

a {
	color: token('color.ui.action.base');
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

button,
label,
menu {
	user-select: none;
}

em,
i {
	font-variation-settings: 'ital' 1;
}

strong,
b {
	font-variation-settings: 'wght' 700;
}
