@use '../../../tokens' as *;

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: token('color.ui.bg');
	color: token('color.ui.text');
	margin: 0;
	font-family: token('typography.family.base');
	font-size: 1rem;
	line-height: 1;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	outline: 2px solid transparent;

	&:focus-visible {
		outline-color: token('color.ui.action.base');
	}
}

a {
	color: token('color.ui.action.base');
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

button,
label,
menu {
	user-select: none;
}

em,
i {
	font-variation-settings: 'ital' 1;
}

strong,
b {
	font-variation-settings: 'wght' 700;
}

pre,
code {
	font-family: token('typography.family.mono');
}

kbd {
	border: 1px solid token('color.ui.contrast.20');
	border-radius: token('size.s.radius');
	display: inline-flex;
	font-family: token('typography.family.mono');
	font-size: token('size.s.textSize');
	height: 1.25em;
	line-height: inherit;
	padding-left: 0.25em;
	padding-right: 0.25em;
}
