@font-face {
	font-display: swap;
	font-family: 'a-v';
	font-style: normal;
	font-weight: 400;
	src: url('https://terrazzo-static.s3.us-west-1.amazonaws.com/a-v.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'a-v';
	font-style: italic;
	font-weight: 400;
	src: url('https://terrazzo-static.s3.us-west-1.amazonaws.com/a-v.woff2') format('woff2');
}
